
/*  CONVENCION

1)  *{}           Significa que va a aplicar los estilos a todos los elementos de la página
2)  .NomClass{}   Nombre de la clase        <div class"NomClass"></div>
3)  #cabecera{}   id del elemento a aplicar los estilos <header id="cabecera"></header>
                  #id a{},  #id h1{},     #id ul li a {},  etc.
4)  body{}        seccion de la pagina a aplicar efectos head, body etc

*/


/*FUENTES       ******Cargar fuente Externa*/
@font-face{
    font-family: "fajala";
    src: url(../fonts/fuente.ttf) format('truetype'); /* .. Significa que se devuelve dos carpetas , Cuando es un solo punto quiere decir que es la carpeta actual   */
        /*ubicacion del archivo*/

    font-weight: normal;
    font-style: normal;

}


/*GENERALES*/
*{
/*    " *{ "      Significa que va a aplicar los estilos a todos los elementos de la pagina*/
    margin: 0px;
    padding: 0px;
    font-family: sans-serif, Helvetica, Arial;
    text-decoration: none;   /* Quita los subrayados, etc que se da con los link y otras formas   */
}

.clearfix{      /* limpia los flotados que hay a partir de ahì  */
    clear: both;
    float: none;
}

body{
    background: url(./images/cubes.png) #F4F4F4;
}

.alerta{
    padding: 5px;
    font-size: 14px;
    color: white;
    background: green;
    box-shadow: 0px 1px 3px #ccc;
    margin-bottom: 15px;
    border-radius: 2px;
}

.alerta-error{
    background: red;
}

.categoria{
    width: 160px;
    text-align: center;
    margin: 5px auto; /* Me centra el elemento en la mitad del ancho del contenedor  */
}

.fecha{
    color: #4e4e4e;
    margin-top:5px;
    font-size: 14px;
}

/*CABECERA*/
#cabecera{
    width: 85%;
    height: auto;
    background: transparent;
    margin: 0px auto;
    /*border: 1px solid black;*/
}


/*LOGOTIPO*/
#logo img{
    float:left;
    width: 500px;
    height: 160px;
    padding: 20px;
}

#logo a{
    font-family: "fajala", Helvetica;
    font-size: 50px;
    letter-spacing: 2px;  /*  Separacion entre letras*/
    color: #2979CD;
    text-shadow: 0px 0px 0px black, 1px 1px 0px black, 2px 2px 0px black;  /* Sombra hacia abajo   */
    transition: all 500ms;
    line-height: 160px;
    margin-left: 2px;
}

#logo a:hover{  /* cuando paso el cursor por encima del elemento  */
    cursor: pointer;  /* Tipo de cursor que aparece */
    text-shadow: 0px 0px 0px black, -1px -1px 0px black, -2px -2px 0px black;   /* Sombra hacia arriba   */
}

/*MENU*/
#menu{
    clear: both;   /* Limpia el flotador y coloca este elemento abajo   */
    width: 90%;
    height: 60px;
    background: linear-gradient(to bottom, #f9f9f9 0px, #e9e9e9 100%);
                              /*Desde Abajo, degrade este color,  hasta este otro color   */
    border: 1px solid #C9C9C9;
    border-radius: 8px;   /* Redondea los bordes de la caja  */
    box-shadow: 0px 1px 1px #ccc;
    overflow: hidden;
    margin: 0px auto;
}

#menu ul{
    list-style: none;
}

#menu ul li{
    float: left;
    line-height: 57px;
    border-right: 1px solid #D6D6D6;
}

#menu ul li a{
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 25px;
    color: #838282;
}

#menu ul li a:hover{
    background: linear-gradient(to bottom, #f2f2f2 0px, #dad9d4 100%);
}

/*CONTENIDO*/
#container{
    width: 85%;
    height: auto;
/*  min-height: 600px;*/
    margin: 0px auto;
    margin-top: 30px;
    margin-bottom: 30px;
}


.bloque{
    display:block;
    width: 90%;
    margin: 0px auto;
    margin-bottom: 35px;
    background: white;
    padding: 15px;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.3), 0px 3px 7px rgba(0,0,0,0.3), 0px 0px 1px #FFFFFF inset, 0px -3px 2px rgba(0,0,0,0.25) inset;
}

.bloque h3{
    margin-bottom: 15px;
}

label,
input[type="text"],
input[type="email"],
input[type="password"]{
    display: block;
    width: 95%;
    margin-top:2px;
    margin-bottom: 2px;
}

input[type="text"],
input[type="email"],
input[type="password"]{
    padding: 5px;
    margin-bottom: 10px;
}

input[type="button"],
input[type="submit"],
.boton{
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
    border-radius: 2px;
    color:white;
    background: #007ee5;
    border: 1px solid #156785;
    cursor:pointer;
    padding: 7px;
}

.boton{
    color:white !important;
    text-align: center;
    width: 130px;
}

.boton-naranja{
    background: orange;
    border-color: #bd7d08;
}

.boton-verde{
    background: #21b921;
    border-color: green;
}

.boton-rojo{
    background: red;
    border-color: #444;
}

#boton-enviar{
    float: right;
    color:white !important;
    text-align: center;
    width: 130px;
    background: #21b921;
    border-color: green;
    margin: 20px auto;
}


/*CONTENEDOR PRINCIPAL*/
#principal{
    
    width: auto;
    max-width: 800px;
    min-height: 556px;
    background:white;
    border-radius: 5px;  /* Redondea las puntas del contenedor*/
    box-shadow: 0px 0px 5px #ccc;
    padding: 20px;
    overflow: hidden;
    margin: auto;
}

#principal a{
    color: #333;
}

#principal h1{
    font-size: 32px;
    color: #444;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px #ccc;
    font-family: "fajala";
}

#principal h2{
    font-size: 20px;
    color: #2979CD;
    text-shadow: 1px 1px 2px #ccc;
    letter-spacing: 1px;
    font-family: "fajala";
    margin-top: 25px;
}

#principal p{
    margin-top: 8px;
}


/*PIE DE PAGINA*/
#footer{
    clear:both;
    width: 100%;
    margin: 0px auto;
    background: linear-gradient(to bottom, #f9f9f9 0px, #e9e9e9 100%);
    border: 1px solid #c9c9c9;
    border-bottom: none;
    border-radius: 8px 8px 0px 0px;
    color: #666;
    height: 20px auto;
    padding: 5px;
    text-align: center;
}

#footer p{
    font-size: 23px;
}




/*CALCULADORA CSS*/

.cal {

    display:grid;
    justify-content: center;
    align-content: center;
    
}

#caja{
    display:grid;
    justify-content: center;
    align-content: center;
    margin: 20px;
    padding: 20px;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(120px, auto) repeat(4, 80px);
    border-style: double;
    border-radius: 10px;
    background: linear-gradient(to right, rgb(244, 244, 247), gray);
}
 

#caja button{
    cursor: pointer;
    background-color: rgb(78, 97, 119) !important;
    border-style: outset !important;
    font-size: 2.2rem;
    border: 1px solid white;
    outline: none;
    border-radius: 5px;
   
    /*background-color: rgba(255, 255, 255, .75);*/
}

#caja button:hover{
    background-color: rgba(82, 100, 230, 0.637) !important;
}

.Salida{
    grid-column: 1 / -1;    
    background-color: rgb(45, 56, 68);
    display:flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 5px;
    word-wrap: break-word;
    word-break:break-all;
    border-radius: 5px;
}

.display{
    color: black;
    padding: 8px;
    margin-right: 3px;
    height: 45px;
    font-size:30px;
    text-align: right;
    border-radius: 5px;
}

span.asterisco { color:#FF0000}

span.errorsmall{
    font-size: 10px;
    margin: 0px;
    color: red;
}